@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;!important
}
header {
    border: 1px solid red;
    width: 100vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("Assets/Hero-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
}
nav {
    border: 1px solid rgb(7, 25, 161);
    width: 80vw;
    height: 7vh;
    display: flex;
    justify-content:space-between;
    align-items: center;

}
.logo{
    color: #4E47FF;
    font-weight: 900;
    font-weight: bold;
    font-size: 38px;



    
}
.button{
    background-color: #4E47FF;
    color: #FFFFFF;
    font-size: 18px;
    font-family: "Raleway", sans-serif;
    font-weight: 550;
    border-radius: 10px;
    padding: 6px 15px;
    
}
nav button{
    padding: 6px 11px;
}

.banner{
    border: 1px solid rgb(103, 5, 223);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 29px;
}
.banner-txt{
    border: 1px solid aqua;
    color: #252432;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    font-size: 40px;
     font-family: "Raleway", sans-serif;

}

.banner button{
    background-color: #4E47FF;
    border: none;
    color: #FFFFFF;
    padding: 6px 11px;
    border-radius: 11px;
    font-family: "Raleway", sans-serif;
    font-weight: bold;

}

.action{
    border: 2px solid rgb(255, 111, 0);
    width: 73vw;
    height: 55vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 55px;
    margin: 0px auto;
    
}

.action-txt{
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
    height: 26vh;
    background-color: #FFFFFF;
    gap: 26px;
    width: 32vw;
    
}
.action-txt>p{
    font-weight: bold;
    font-size: 22px;
         font-family: "Raleway", sans-serif;
     color: #252432;
     font-size: 42px;
}

.action-explore{
    color:#0606076b ;
    
}

.action-txt button{
    padding: 13px 30px;
    font-family: "Raleway", sans-serif;
    font-size: 15px;
    font-weight: 700;
}
.action-img img{
    border-radius: 28px;
    
}

/* Action Section End */

    /* Productive Users Section Start  */

    .user{
        border: 1px solid red;
        background-color:#E5E7FF ;
        width: 83vw;
        height: 30vh;
        margin: 0px auto;
        
    }
  .user-sub{
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-evenly;
    height: 29vh;
    
  }
  .user-txt{
    font-size: 27px;
    font-weight: bold;
  }
  .user-num{
    border: 1px solid red;
    display: flex;
    align-items: center;
    justify-self: center;
    gap: 122px;
  }
    .user-num p{
        color: #4E47FF;
        font-size: 40px;
        font-weight: bolder;
    }
    .user-num span{
        font-size: 11px;
        font-weight: 200;
    }
    .user-num div{
        border-radius: 1px solid black;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
/* Productive Users Section End  */


    /* Users’ Feedback Section start */

    .feedback{
        border: 1px solid aqua;
        width: 83vw;
        height: 33vh;
        margin: 58px auto;

    }

    .feed-sub{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
    .feed-txt p{
        font-size: 27px;
        font-weight: bold;
    }

    .card-sec{
        display: flex;
        justify-content: space-between;
        gap: 10px;
        
        
    }
    .card{
        border: 1px solid tomato;
        width: 26.5vw;
        height: 25vh;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-around;
        background-color: #FAFCFF;

    }
    .card ul{
        display: flex;
        list-style-type: none
    }

    .card-title-sub p{
        font-size: 15px;
        font-weight: 100;

    }
    .card-img{
        display: flex;

        gap:14px;
        color: #1E1E1E;
        margin-top: 9px;
    }
    .card-img img{
        border-radius: 44px;
    }
    .card-name p{
        font-size: 15px;
        font-weight: 300;

    }
    .card-name span{
        display: block;
        font-size: 11px;
        font-weight: 200;
        color: #525253;
    }

/* feedback section End */


    /* Ready to focus better section start  */

    .focus{
        border: 1px solid red;
        width: 83vw;
        margin: 0px auto;
        border-radius: 14px;
        background-color:#FFFFFF ;

    }
    .focus-sub{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
        align-items: center;
    }
    .focus-txt{
        border: 1px solid rgb(225, 225, 7);
        display: flex;
        flex-direction: column;
        justify-content:space-around;
        gap: 9px;
        align-items: center;
    }
 .focus-txt span{
    font-size: 11px;
    font-weight: 100;

 }
 .focus-txt button{
    padding: 5px 16px;
 }
    .focus-img img{
        border-radius: 28px;

    }
    /* focus section End */

    /* Touch Section Start */

    .touch{
        border:1px solid #4E47FF;
        width: 83vw;
        height: 55vh;
        margin: 0px auto;
        display: flex;
        align-items: center;
        justify-content: space-between;

    }

    .touch-txt{
        border:1px solid red;
        width:49%;
        height: 40%;

    

    }

    .touch-txt p {
        font-size: 61px;
        font-weight: bolder;
    }
    .touch-form{
        border:1px solid red;
        width:49%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;

    

    }

    .touch form{
        border:1px solid black;
        width:96% ;
        height: 84%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 11px;
       
    }

    .touch form label{
        font-weight: 800;
    }


    .touch form input {
        width: 99%;
        padding: 11px 19px;
        border-radius: 11px;
        

    }
    .touch form textarea{
        width: 99%;
        padding: 33px 19px ;
        border-radius: 11px;
    }

    .touch form input::placeholder{
        
        
    }

    .touch form textarea::placeholder{
        font-size: 17.5px;
    }



    /* Touch Section End */


    /* Footer Section Start */


    footer{
        border: 1px solid tomato;
    }

    .footer-sub{
        border: 1px solid black;
        width: 83vw;
        height: 35vh;
        margin: 0px auto;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 14px;
    }

    .footer-link {
        display: flex;
        justify-content: space-around;
        gap: 25px;
        

    }
    .footer-link a{
        text-decoration: none;
        

    }
    